<div data-sly-test.contactPath="${properties.contactPath}"></div>

<div data-sly-test="${!contactPath}">
    Edit this component to select a contact
</div>

<div data-sly-test="${contactPath}">
    <sly data-sly-use.contactCard="ContactCard">
		<h3>${contactCard.name}</h3>
        <h4>${contactCard.position}</h4>
		<div data-sly-test="${contactCard.phoneList}">
        	<br>
			<b>Phone</b>
            <div data-sly-list="${contactCard.phoneList}">
				${item}
                <br>
           	</div>
        </div>
        <div data-sly-test="${contactCard.emailList}">
        	<br>
			<b>Email</b>
            <div data-sly-list="${contactCard.emailList}">
				${item}
                <br>
           	</div>
        </div>
	</sly>
</div>
